html, body {
	width: 100%;
	margin: 0;
	padding: 0;
  	font: 400 15px/1.8 "Lato", sans-serif;
	font-family: Century Gothic;
  	/*color: #777;*/
	display: flex;
	flex-direction: column;
	height: 100%;
	/*background-color: turquoise;*/
}

header {
	display: block;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1a1a1a;
	color: #f5f5f5;
	font-size: 20px;
	flex: 0 0 auto;
}

header section {
	width: auto;
}

header a img {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 35px;
	width: 300px;
	/*width: auto;*/
}

footer div {
	display: block;
	position: relative;
	padding: 15px;
	background-color: #4d4d4d;
	color: #d9d9d9;
	font-size: 14px;
	/*flex: 0 0 auto;*/
}

.footer {
	height: 44px;
	margin-top: -44px;
	width: 100%;
}

main {
	display: block;
	/*flex: 1 0 auto;*/
	/*padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	opacity: 0.8;*/
}

.bgimg-1, .bgimg-2 {
  	position: relative;
  	opacity: 0.65;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.bgimg-1 {
  	background-color: #fff;
  	background-image: url("bg1.jpg");
  	min-height: 70%;
}

.bgimg-2 {
	background-color: #fff;
  	background-image: url("bg2.jpg");
  	min-height: 500px;
}

.caption {
  	position: absolute;
  	left: 0;
  	top: 40%;
  	width: 100%;
  	text-align: center;
  	color: #000;
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
  	font-size: 25px;
	letter-spacing: 10px;
}

.caption span.border2 {
	background-color: transparent;
	font-size: 25px;
	color: #f7f7f7;
}

.blg1 {
	color: #777;
	background-color: white;
	text-align: center;
	padding: 50px 80px;
	text-align: justify;
  	text-align: center;
}

.blg1 h3 {
  	letter-spacing: 5px;
  	text-transform: uppercase;
  	font: 20px "Lato", sans-serif;
  	color: #111;
}

.blg2 {
	color: #ddd;
	background-color: #282E34;
	text-align: center; 
	padding: 50px 80px;
	text-align: justify;
}
.blg2 p {
	color: #ddd;
}

.blgp {
	background-color: #4d4d4d;
	color: #ddd;
	bottom: 0;
}
.corotco {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: #4d4d4d;
	color: #d9d9d9;
	font-size: 14px;
}
div.blgp table {
	width: 100%;
}
ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding-left: 40px;
    padding-right: 40px;
    padding: 10px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
    color: #ddd;
}
td.right p {
	padding-left: 40px;
    padding-right: 40px;
    padding: 10px;
    color: #fff;
}
a {
  	text-decoration: none;
  	list-style: none;
}
a.logo {
  	text-decoration: none;
  	background: #1a1a1a;
  	color: #f5f5f5;
  	padding: 0px 15px;
  	line-height: 50px;
  	display: block; 
  	list-style: none;
  	margin: 0;
  	padding-left: 0;
  	height: 50px;
}
ul.menu-main {
  	list-style: none;
  	margin: 0;
  	padding-left: 0;
  	height: 50px;
  	background: #1a1a1a;
	color: #f5f5f5;
}
ul.menu-main a {
  	text-decoration: none;
  	background: #1a1a1a;
  	color: #fff;
  	padding: 0px 15px;
  	line-height: 50px;
  	display: block; 
}
ul.menu-main a:hover {
  	background: #909090;
}
ul.menu-main li {
  	float:left;
}
table {
	width: 100%;
}
section {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	background-color: white;
	opacity: 0.8;
}

section a{
	width: auto;
}

.right {
	float: right;
}

.ctc {
	display: block;
	margin: 10px 10px 10px 10px;
}
.ctc h1, h2, h4, p {
	margin-bottom: 5px;
	margin-top: 3px;
	color: #000;
}

.rama {
	display: block;
	margin-top: 50px;
	margin-bottom: 90px;
	margin-right: 50px;
	margin-left: 50px;
}
.fon {
	background-size: cover;
	background-attachment: fixed; 
  	background-color: #fff;
  	background-image: url("bg1.jpg");
  	opacity: 0.8;
  	height: 100%;
 }
 .go1 {
 	padding: 15px;
 	width: 60%;
  	margin-left: 20%;
  	margin-right: 20%;
 }
 .go2 {
	font-family: Century Gothic;
	font-size: 20px;
 	width: 100%;
 	height: 25px;
    cursor: pointer;
 }

.ramap {
	display: block;
	margin: 50px 50px 50px 50px;
	background-color: #fff;
}
.ramap h3 {
	padding-left: 17px;
}

.tab {
    float: left;
    border: 0 solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 100%;
}
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
	display: block;
	background-color: #ddd;
    float: right;
    padding: 0;
    border: 0 solid #ccc;
    width: 70%;
    border-left: none;
    height: 100%;
    margin-left: 17px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc; 
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.bl {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;	
}

.dropbtn {
  	background: #1a1a1a;
  	color: #f5f5f5;
	font-family: Century Gothic;
    color: white;
    padding: 13px;
    font-size: 20px;
    border: none;
    width: auto;
}

.dropdown {
	padding-right: 15px;
	padding-left: 15px;
	line-height: 50px;
	font-size: 35px;
    position: relative;
    display: inline-block;
  	background: #1a1a1a;
  	color: #f5f5f5;
	font-family: Century Gothic;
  	font: 400 15px/1.8 "Lato", sans-serif;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #909090;
}
/*Тень для окошка
border-radius: 5px;
box-shadow: 0px 0px 20px 0px rgda(0, 0, 0, 0.5)*;/